$white: #ffffff;
$primary: #6ECB63;
$primary2: #B1E693;
$secondary: #EC9CD3;
$border-color: #f9f9f9;
$last-color: #FBF4E9;
$paragraph: #737373;
$paragraph2: #ffffff;
$paragraph3: #333333;
$paragraph4: $primary;
$paragraph5: #222222;
$btn-color: #1f3779;
$btn-hover-color: #198754;
$border-color: #d9d9d9;
$icon-color: #0c0b0b;
$background-gray: #f1f1f1;
$fontColor: #393939;
$facebookColor: #3b5997;
$twitterColor: #00acee;
$instagramColor: #8a3ab9;
$youtubeColor: #FF0000;
$linkedInColor: #0E76A8;
$duration: 200ms;
