p {
  margin-bottom: 0;
}

@mixin topbarIconItem($color) {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  color: $color;
  border: 1px solid $color;
  transition: 200ms;

  &:hover {
    color: $white;
    background: $color;
  }
}

.bar {
  height: 1.5px !important;
  background: #dddddd;
}

.topBar {
  p {
    color: $paragraph;
    font-size: 13px;
  }

  .nav-link {
    color: $paragraph;
    font-size: 14px;
    padding-right: 0;
    padding-left: 0;
    margin: 0 13px;
    transition: 200ms;

    &:hover {
      color: $primary;
    }
  }

  .topbarDropdown {
    select {
      width: 3rem;
      color: $paragraph;
      font-size: 12px;
      padding: 0 0;
      text-align: center;
      height: 1.5rem;
    }
  }

  .iconsSection {
    text-align: center;

    .facebook {
      @include topbarIconItem($facebookColor)
    }

    .twitter {
      @include topbarIconItem($twitterColor)
    }

    .instagram {
      @include topbarIconItem($instagramColor)
    }
  }
}

.mainNavbarSection {
  background: $white;

  .logo {
    width: 14rem;
  }

  .bigSearchBar {
    width: 43%;
    height: 3rem;
    margin: 1rem;

    input {
      border-radius: 0 0 0 1rem;
      border: 2px solid $primary;

      &:focus {
        box-shadow: inset 0 -1px 0 #ddd;
      }
    }

    .icon {
      border-radius: 0 1rem 0 0;
      display: flex;
      width: 4rem;
      color: $white;
      background: $primary;
      justify-content: center;
      align-items: center;
      font-size: 23px;
      border: none;
    }
  }

  .callNow {
    width: 12rem;

    .icon {
      color: $paragraph;
      font-size: 18px;
    }

    span {
      margin-top: .5rem;
      width: 5rem;
      font-size: 11px;
    }

    h4 {
      margin-bottom: 0;

      a {
        color: #444444;
        font-weight: bold;
        font-size: 23px;
        text-decoration: none;
      }
    }
  }

  .mainIconSection {
    width: 8rem;

    .iconItem {
      margin-right: 1rem;
      font-size: 29px;
      color: #444444;
      transition: 400ms;

      &:hover {
        color: $primary;
      }
    }
  }
}

.navbarBottom {
  button {
    border: none;
    color: $paragraph3;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    background: transparent;

    &:focus {
      box-shadow: none !important;
    }

    .icon {
      font-size: 18px;
    }

    &:hover {
      color: $btn-color;
      background: transparent;
      border: none;
    }

  }

  .firstNav {
    border-radius: .2rem;
    background: #f1f1f1;
    width: 20rem;
    position: relative;

    button {
      padding: .5rem 2rem;

      &:hover {
        color: $btn-color;
        background: transparent;
        border: none;
      }
    }

    .iconRight {
      margin-left: 5.6rem;
    }

    .deptDropdown {
      position: absolute;
      width: 20rem;
      transition: 400ms;
      z-index: 999;
      display: none;
      border: 1px solid $border-color;


      &.activeDeptDropdown {
        display: block;
      }
    }
  }

  .dropdownParentItem {
    background: $white;
    border-bottom: 1px solid $border-color;
    transition: $duration;

    .discount {
      color: $white;
      background: red;
      font-size: 11px;
      font-weight: bold;
      padding: .2rem .3rem;
      border-radius: 1rem;
    }

    .icon {
      font-size: 18px;
    }

    &:hover {
      color: $white;
      background: $primary;

      a {
        color: $white;
      }
    }
  }

  .dropdownItem {
    width: 16rem;
  }

  .nav-link {

    font-weight: 500;
    font-size: 14px;
    font-family: "Roboto", sans-serif;

    color: $paragraph3;

    &:hover {
      color: $btn-color;
      background: transparent;
      border: none;
    }
  }
}

.ul_border {
  border-right: 1px solid $border_color;
}

.online_support {
  border: 1px solid $border_color;

  ul {
    margin-top: 35px;
    margin-bottom: 35px;
    padding-left: 0 !important;

    li {
      text-align: left;
      list-style: none;
      display: inline-block;

      p {
        color: $paragraph;
        margin-left: .3rem;

        span {
          display: inline-block;
          font-weight: 600;
          font-size: 18px;
          color: $paragraph5;
        }
      }

      .icon {
        font-size: 50px;
        color: $paragraph3;
      }
    }
  }

  .supportHeading {
    line-height: 0 !important;
  }
}

.sliderSection {
  max-height: 31.5rem;
  overflow: hidden;
}

.mobileHeader {
  position: fixed;
  width: 100%;
  height: 4rem;
  z-index: 999;

  .topbarSection {
    position: absolute;
    width: 100%;
    height: 4rem;
    background: $white;
    border-bottom: 1.3px solid $border-color;
  }

  .icon {
    font-size: 23px;
    transition: $duration;

    button {
      transition: $duration;
      border: none;
      background: transparent;
    }

    &.activeNavIcon {
      color: $primary;

      button {
        color: $primary;
      }
    }

    &:hover {
      @extend .activeNavIcon;
    }
  }

  .rightIcons {
    text-align: center;

    .search {
      margin-top: 3px;
      margin-left: 10px;
      font-size: 20px;

    }

    .icon {
      width: 3rem;
    }
  }

  .searchBarForm {
    position: absolute;
    width: 100vw;
    z-index: 999;
    background: $white;
    left: -100%;
    transition: $duration;
    margin-top: 4rem;

    &.activeSearchBar {
      left: 0;
    }
  }

  .mainBarSection {
    position: absolute;
    width: 100vw;
    max-height: 60vh;
    z-index: 999;
    background: $white;
    overflow-y: auto;
    left: -100%;
    transition: $duration;
    border-bottom: 1px solid $border-color;
    margin-top: 4rem;

    .nav-item {
      border-bottom: 1.3px solid $border-color;

      .nav-link {
        color: $paragraph3;
        font-size: 14px;
        transition: $duration;

        &:hover {
          color: $white;
          background: $primary;
        }
      }
    }

    &.activeMainSection {
      left: 0;
    }
  }
}

.mobileHeaderBottom {
  position: fixed;
  width: 100vw;
  z-index: 999;
  bottom: 0;
  height: 3rem;
  background: $white;
  text-align: center;
  border-top: 1.3px solid $border-color;

  .bottomBarSection {

    .icon {
      font-size: 20px;
      margin-top: 3px;
    }

    .navIcon {
      color: $paragraph3;
      transition: $duration;

      &.active {
        color: $primary;
      }

      &:hover {
        @extend .active;
      }
    }
  }
}

.mainPadding {
  padding-top: 4rem;
}
